$allié: #0000FF;
$neutre: gray;
$guerre: red;

body {
	background: url("../img/diplo.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.container {
	padding-top: 50px;
}

.head {
        -webkit-box-shadow: 0px 0px 4px 0px #ffffff; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
        box-shadow: 0px 0px 4px 0px #ffffff; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
        border-radius: 12px;
        margin-bottom: 30px;
}

.allie {
    background-color: $allié;
}

.neutre {
	background-color: $neutre;
}

.guerre {
	background-color: $guerre;
}