$mymarron: #996633;

body {
	background: url("../img/equip.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: black;
}

.container {
    padding-top: 50px;
    .head {
        background-color: $mymarron;
        -webkit-box-shadow: 0px 0px 4px 0px #ffffff; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
        box-shadow: 0px 0px 4px 0px #ffffff; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
        border-radius: 12px;
        margin-bottom: 30px;
    }
}